@import "tailwindcss";

:root {
  --background: #F0EEEE;
  --foreground: #232323;
  --textColor: #232323;
  --white: #FFFFFF;
  --blue: #080F2C;
  --yellow: #DFDA44;

  font-family: var(--font-roboto-mono), monospace;
}

@theme inline {
  /* COLORS */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--textColor);
  --color-white: var(--white);  
  --color-blue: var(--blue);
  --color-yellow: var(--yellow);

  /* FONTS */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono), monospace;
}

/* For the nav */
.bg-white-gradient {
  background: linear-gradient(180deg, var(--white, #FFF) 18.75%, rgba(255,255,255,0) 100%);
}