@import "tailwindcss";

:root {
  --background: #F0EEEE;
  --foreground: #232323;
  --textColor: #232323;
  --white: #FFFFFF;
  --blue: #080F2C;
  --yellow: #DFDA44;
  --grey: #232323;
  --brown: #301b04;

  font-family: var(--font-roboto-mono), monospace;
}

@theme inline {
  /* COLORS */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--textColor);
  --color-white: var(--white);  
  --color-blue: var(--blue);
  --color-yellow: var(--yellow);
  --color-grey: var(--grey);
  --color-brown: var(--brown);

  /* FONTS */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono), monospace;
}

/* For the nav */
.bg-white-gradient {
  background: linear-gradient(180deg, #ffffff23 18.75%, rgba(255,255,255,0) 100%);
}

.bg-white-gradient-inverse {
  background: linear-gradient(180deg, #ffffff00 18.75%, #f0eeee 100%);
}

.timeline-horizontal-right-after::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 100%;
  width: 225px;
  height: 2px;
  background: var(--color-black);
  z-index: -10;
  @media screen and (max-width: 768px) {
    width: 120px; 
  }
}

.timeline-horizontal-dot::before {
  content: ""; /* Maybe add svg of figma */
  position: absolute;
  border-radius: 100%;
  border: #DFDA44 2px dashed;
  top: 1.56rem; /* Odly specific to center to R/L line */
  left: 100%;
  right: 100%;
  width: 15px;
  height: 15px;
  background: var(--color-black);
  transform: translate(-50%, -50%);
}

.timeline-horizontal-left-after::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  right: 100%;
  width: 225px;
  height: 2px;
  background: var(--color-black);
  z-index: -10;
  @media screen and (max-width: 768px) {
    width: 120px; 
  }
}